/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: rgb(0, 0, 0);
}
.cabecalho{
  background-color: #ff0000;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.titulo-principal{
    color: yellow;
    font-family: bold;
    font-size: 32px;    
}

.conteudo{
    background-color: rgb(126, 139, 255);
    color: #ffff;
}
.conteudo p{
    color: #E4005A;
    font-size: 42px;
}

.paragrafo p:nth-of-type(3){
     color: purple;
}

@media(max-width: 480px){
    .container{
        background-color: #ADD8E6;
    }
}
